.navbar-brand {
	font-family: 'Satisfy', cursive;
}

.menu-heading {
	margin-bottom: 1em;
}

ul.menu-list {
	list-style-type: none;
}

/* Set hidden button group initial styles */
.hidden {
	display: none;
}