/* Master template styles */

.navbar-brand {
	font-family: 'Satisfy', cursive;
}

/* Homepage styles */

div.hero {
	height: 400px;
	width: 100%;
	background-image: url("img/pizza-hero.jpg");
	margin-top: -1.5rem;
	margin-bottom: 1rem;
}

.hero-title {
	font-family: 'Satisfy', cursive;
}

/* Menu styles */
.menu-heading {
	margin-top: 1em;
	margin-bottom: .5em;
}

ul.menu-list {
	list-style-type: none;
}

/* Set hidden button group initial styles */
.hidden {
	display: none;
}