{% extends 'orders/master.html' %}
{% load static %}

{% block body %}
	{% if messages %}
	<div class="alert alert-danger" role="alert">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	</div>
	{% endif %}

	<h3 class="menu-heading">Your Cart</h3>

	{% if OrderEntrees %}
	<table class="table">
		<tr>
			<th>Entree</th>
			<th>Kind</th>
			<th>Size</th>
			<th>Price</th>
			<th class="text-center">Delete</th>
		</tr>
		{% for entree in OrderEntrees %}
		<tr>
			{% if entree.food_item.entree_type == "Sub" %}
				<td>{{ entree.food_item.entree_type }}</td>
				<td>
					{{ entree.food_item.name }}
					{% if entree.subToppings.all %}
						<ul>
							{% for topping in entree.subToppings.all %}
							<li>{{ topping.pizzaTopping.name }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</td>
				{% if entree.food_item.size == "None" %}
				<td></td>
				{% else %}
				<td>{{ entree.food_item.size }}</td>
				{% endif %}
				<td>
					{{ entree.food_item.price }}
					{% if entree.subToppings.all %}
						{% for topping in entree.subToppings.all %}
						<br>+{{ topping.price }}
						{% endfor %}
					{% endif %}
				</td>
				<td class="text-center"><a href="/delete/{{ entree.id }}"><img src="{% static 'orders/img/trashcan.svg' %}"></a></td>
			{% else %}
				<td>{{ entree.food_item.entree_type }}</td>
				<td>
					{{ entree.food_item.name }}
					{% if entree.toppings.all %}
						<ul>
							{% for topping in entree.toppings.all %}
							<li>{{ topping }}</li>
							{% endfor %}
						</ul>

					{% endif %}
				</td>
				{% if entree.food_item.size == "None" %}
				<td></td>
				{% else %}
				<td>{{ entree.food_item.size }}</td>
				{% endif %}
				<td>{{ entree.food_item.price }}</td>
				<td class="text-center"><a href="/delete/{{ entree.id }}"><img src="{% static 'orders/img/trashcan.svg' %}"></a></td>
			{% endif %}				
		</tr>
		{% endfor %}
		<tr>
			<th></th>
			<th></th>
			<th><strong>Total: </strong></th>
			<th>{{ Total }}</th>
			<th></th>
		</tr>
	</table>

	<a class="btn btn-primary" href="/submit-order">Submit Order</a>
	{% else %}
	<p>There's nothing in your cart! Head to the <a href="/menu">menu</a> to add something.</p>
	{% endif %}

{% endblock %}
