{% extends "orders/master.html" %}

{% block hero %}
	<div class="hero row no-gutters">
		<div class="col-5">
		</div>
		<div class="col">
			<h1 class="text-white mt-5 display-1 hero-title">That Old Slice</h1>
			<p class="text-white lead">Delicious (but imaginary) pizza since 2018.</p>
		</div>
	</div>
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
	<h2>Your Pending Orders</h2>
		{% if PendingOrders %}
			<ul>
				{% for order in PendingOrders %}
					<li><a href="/order/{{ order.id }}">{{ order.updated_at }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>You have no pending orders! Head to the <a href="/menu">menu</a> to place an order!</p>
		{% endif %}
	<h2>Your Completed Orders</h2>
		{% if CompletedOrders %}
			<ul>
				{% for order in CompletedOrders %}
					<li><a href="/order/{{ order.id }}">{{ order.updated_at }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>You have no completed orders! Head to the <a href="/menu">menu</a> to place an order!</p>
		{% endif %}
	{% else %}
    <h2>You're not logged in!</h2>

    <p><a href="/login">Click here to log in</a>, or <a href="/register">create a new account.</a></p>
    {% endif %}
{% endblock %}
