{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>That Old Slice</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
		<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> 
	</head>
	<body>
			<nav class="gabenav navbar navbar-expand-lg navbar-light bg-success mb-4">
				<a class="navbar-brand" href="/">
					<img src="{% static 'orders/img/pizza.png' %}" height="70">
					<span class="h2 text-light">That Old Slice</span>
				</a>

				<div class="navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link text-light" href="/">Home</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link text-light" href="/menu">Menu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/cart">Cart</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/orders">My Past Orders</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link text-light" href="/menu">Menu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/register">Place An Order</a>
						</li>
						{% endif %}
					</ul>
					<ul class="navbar-nav ml-auto mr-2">
						{% if user.is_authenticated %}
							{% if user.is_superuser %}
						<li>
							<a class="nav-link btn-sm text-light" href="/all-orders">All Orders</a>
						</li>
							{% endif %}
						<li>
							<a class="nav-link btn-sm text-light" href="/logout">Logout</a>
						</li>
						{% else %}
						<li>
							<a class="nav-link btn-sm text-light" href="/register">Register</a>
						</li>
						<li>
							<a class="nav-link btn-sm text-light" href="/login">Login</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>

		{% block hero %}
		{% endblock %}

		<div class="container pb-5">

		{% block body %}
		{% endblock %}

		</div>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
