{% extends 'orders/master.html' %}

{% block body %}

	<h3 class="menu-heading">Regular Pizzas</h3>		

	<form action="/add-to-cart" method="post">
	    {% csrf_token %}

		<div class="btn-group btn-group-toggle" id="regular-pizza-option-group" data-toggle="buttons">
			<label class="btn btn-danger active">
				<input type="radio" name="regular-pizza-option" id="regular-pizza-option-large" autocomplete="off" value="Large" checked> Large
			</label>
			<label class="btn btn-danger">
				<input type="radio" name="regular-pizza-option" id="regular-pizza-option-small" autocomplete="off" value="Small"> Small
			</label>
		</div>

		<div id="large-regular-pizza-group" class="btn-group">
		{% for pizza in LargeRegularPizzas %}
			<button class="btn btn-secondary btn-success" type="submit" id="{{ pizza.id }}" value="{{ pizza.id }}" name="entree">{{ pizza.name }}</button>
		{% endfor %}
		</div>

		<div id="small-regular-pizza-group" class="btn-group">
		{% for pizza in SmallRegularPizzas %}
			<button class="btn btn-secondary btn-success" type="submit" id="{{ pizza.id }}" value="{{ pizza.id }}" name="entree">{{ pizza.name }}</button>
		{% endfor %}
		</div>
	</form>

	<h3 class="menu-heading">Sicilian Pizzas</h3>		

	<form action="/add-to-cart" method="post">
	    {% csrf_token %}

	    <div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn btn-danger active">
				<input type="radio" name="options" id="option1" autocomplete="off" checked> Large
			</label>
			<label class="btn btn-danger">
				<input type="radio" name="options" id="option2" autocomplete="off"> Small
			</label>
		</div>

		<div class="btn-group">
		{% for pizza in LargeSicilianPizzas %}
			<input class="btn btn-secondary btn-success" type="submit" id="{{ pizza.id }}" value="{{ pizza.id }}" name="entree">
		{% endfor %}
		</div>
	</form>

	<h3 class="menu-heading">Subs</h3>		

	<form action="/add-to-cart" method="post">
	    {% csrf_token %}

	    <div class="row">
	    	<div class="col">
				<ul class="menu-list">
				{% for sub in LargeSubs %}
					<li class="mb-1"><button class="btn btn-block btn-success" type="submit" id="{{ sub.id }}" value="{{ sub.id }}" name="entree">{{ sub.name }}</button></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
	</form>

	<h3 class="menu-heading">Pasta</h3>		

	<form action="/add-to-cart" method="post">
	    {% csrf_token %}

		<div class="row">
	    	<div class="col">
				<ul class="menu-list">
				{% for pasta in Pastas %}
					<li class="mb-1"><button class="btn btn-block btn-success" type="submit" id="{{ pasta.id }}" value="{{ pasta.id }}" name="entree">{{ pasta.name }}</button></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
	</form>

	<h3 class="menu-heading">Salads</h3>		

	<form action="/add-to-cart" method="post">
	    {% csrf_token %}

		<div class="btn-group">
		{% for salad in Salads %}
			<input class="btn btn-secondary btn-success" type="submit" id="{{ salad.id }}" value="{{ salad.id }}" name="entree">
		{% endfor %}
		</div>
	</form>

	<h3 class="menu-heading">Dinner Platters</h3>		

	<form action="/add-to-cart" method="post">
	    {% csrf_token %}

		<div class="btn-group">
		{% for platter in LargeDinnerPlatters %}
			<input class="btn btn-secondary btn-success" type="submit" id="{{ platter.id }}" value="{{ platter.id }}" name="entree">
		{% endfor %}
		</div>
	</form>


{% endblock %}
